footer { background: #858a9f; padding-top: 30px; }
/******************************* FOOTER **************************************/
.textwidget a, .textwidget li, .textwidget ul a { color: #eff0f1; padding: 0 5px; text-decoration: none; }
.textwidget li a:hover, .textwidget li a:focus { color: #fff; text-decoration: none; }
#widget-footer ul { color: #fff; font-size: 14px; font-weight: 200; padding: 0; list-style: none; line-height: 30px; }
#widget-footer  li a, #widget-footer li { color: #e2e2e2 !important; text-decoration: none; margin:6px 0; }
#widget-footer li a:hover, #widget-footer li a:focus { color: #fff; text-decoration: none; }
.footSub { background: #646878; padding-top: 30px; }
.footSub ul { color: #e2e2e2; font-size: 14px; font-weight: 200; padding: 0; list-style: none; display: inline; }
.footSub .textwidget li a, .footSub li { color: #e2e2e2 !important; padding: 0; }
.footSub li a:hover, .footSub li a:focus { color: #fff; text-decoration: underline; }
.textwidget.footer-horizontal p { color: #e2e2e2; font-size:14px; padding: 10px 0; margin: 0; font-weight: 200; }
.textwidget.footer-horizontal li a, .textwidget.footer-horizontal li { color: #fcfcfc; display: none; padding: 0 5px; }
.textwidget.footer-horizontal li a:hover, .textwidget.footer-horizontal li a:focus { color: #fff; text-decoration: none; }
.footer-horizontal p { color: #e2e2e2; font-size:14px; padding: 10px 0; margin: 0; font-weight: 200; }
.footer-horizontal li a, .footer-horizontal li {  display: inline; padding: 0 5px; color: #fcfcfc; }
.footer-horizontal li a:hover, .footer-horizontal li a:focus { color: #fff; text-decoration: none; }
.footer-copy p { color: #fff; font-size: 12px; padding: 0; margin: 0; font-weight: 200;text-align: center; }
.footer-copy .textwidget a, .footer-copy .textwidget a:visited { color: #fff; }
.footer-copy .textwidget a:hover, .footer-copy .textwidget a:focus { color: #ff4800; }
.foot { background: #858a9f; padding: 30px 0 0 0; }
.foot h2 { color: #e2e2e2; font-size: 18px; font-weight: 600; text-transform: uppercase; }

/******************************* NEWSLETTER **************************************/
.newsletter { background: #646878; padding: 40px 0; }
.newsletter h3 { color: #fff; font-weight: 600; margin: 0 0 3px; } 
.newsletter p { color: white; font-size: 16px, margin: 0 0 10px; } 
#mc_embed_signup { background: transparent; }
#mc-embedded-subscribe { border-radius:4px; color: #fff; background-color: #ff6123; border-color: #ff6123; }
#mc-embedded-subscribe:focus, #mc-embedded-subscribe.focus,
#mc-embedded-subscribe:hover { color: #fff; background-color: #ff4800; border-color: #ff4800; }
input#mce-EMAIL, input#mc-embedded-subscribe { margin: 10px 0; border-radius: 4px; }

/******************************* PAYMENTS **************************************/
.payments { background: #f4f6f8; padding: 20px 0; }
.payments h3 { color: #646878; font-size: 16px; text-transform: uppercase; letter-spacing: 5px !important; margin-bottom: 13px; } 
.payments p { color: #646878; font-size: 16px; margin:0 auto; } 
.payments img { margin: 3px; }

input { padding: 10px; width: 100%; font-size: 17px; border: 1px solid #aaaaaa; }